
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;

}

header{
    width: 100%;
    height: 600px;
    background: #2C3E50; 
    background: -webkit-linear-gradient(to right, #00020388, #1e466e8e), url(./imagenes/partesu.jpg); 
    background: linear-gradient(to right, #00000081, #1e466e7a), url(./imagenes/partesu.jpg); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: black;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: white;
    font-weight: 300;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;

}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
    
}

.textos-header h1{
    font-size: 40px;
    margin-top: -20px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.textos-header p{
    font-size: 20px;
    text-align: center;
    margin:  10px 200px ;
}

.card-info{
    width: 400px;
    margin: -40px 230px 10px;
    
}

.textos-header h3{
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;

}

.section-3{
    
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.cardh h3{
    font-weight:bold;
    margin-top: -55px;
    color: white;
}

.cardh p{
    font-size: 14px;
}
.cardh{
    background-color: #699EBF;
    box-shadow: 0 0 0.9375rem;
    width: 800px;
    border-radius: 4px;
    display: flex;

}

.cardh img{
    padding: 20px;
    width: 100%;
}

.contenido a{
    background:#A3C9D9;
    border: 1px solid #023859;
}
.cardh .contenido a{

    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #011526 !important;
    border: 1px solid #A3C9D9 !important;
    border-radius: 4px;
    transition: all 400ms ease;
    

}

.cardh .contenido a:hover{
    background:#A3C9D9 !important;
    color: white !important;
}

.contenido h2{
    font-weight: bold;
    margin-top: -50px;
    color: white;
}

.img-inf img{
    width: 50px;
    padding: 20px;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

section{
    
    position: relative;
    background-size: cover;
}

.material-symbols-outlined{
    position: fixed;
    width: 5%;
    height: 50px;
    bottom: 40px;
    right: 650px;
    color: #2472c0;
    

}


#section-2{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2C3E50; 
    background: -webkit-linear-gradient(to right, #00020388, #1e466e8e), url(./imagenes/partesu.jpg); 
    background: linear-gradient(to right, #00000081, #1e466e7a), url(./imagenes/partesu.jpg); 
    background-size: cover;
    
}

section .container{

    width: 100%;
    display: flex;
    max-width: 1100px;
    
    

}

.card{
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    background-color: #023859;

}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4) ;
    transform: translate(-3%);
}

.card img{
    width: 100%;
    height: 250px;
}

.card .contenido{
    padding: 15px;
    text-align: center;

}

.card .contenido p{
    line-height: 1.5;
    color: #faf6f6;
}

.card .contenido h3{
    color: white;
    font-weight: bold;
    margin-bottom:  15px;
}

.imagenesCard img{
    padding: 20px;
    width: 100%;
}

.card .contenido a{

    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: aqua;
    border: 1px solid rgb(33, 204, 226);
    border-radius: 4px;
    transition: all 400ms ease;
    

}

.card .contenido a:hover{
    background: rgba(0, 255, 255, 0.527);
    color: white;
}

#section-3{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #025373;
}

.cardh{
    background-color: #023859;
    box-shadow: 0 0 0.9375rem;
    width: 800px;
    border-radius: 4px;
    display: flex;

}

.cardh img{
    flex: 0 0 50%;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.cardh .contenido{
    padding: 15px;
    text-align: center;
    margin-top: 80px;

}

.cardh .contenido p{
    line-height: 1.5;
    color: #faf6f6;
}

.cardh .contenido h3{
    font-weight: 400;
    margin-bottom:  15px;
}

.cardh .contenido a{

    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: aqua;
    border: 1px solid rgb(33, 204, 226);
    border-radius: 4px;
    transition: all 400ms ease;
    

}
.cardh .contenido a:hover{
    background: rgba(0, 255, 255, 0.527);
    color: white;
}



footer {
    background: #011526; 
    width: 100%;
    position: relative;
    color: #fff;
    padding: 20px;
    
  }
  
  .cajaInfo {
    display: flex;
    justify-content: space-between;
  }
  
  .contacto, .cajaComentario {
    width: 45%;
  }

  .contacto p{
    font-size: 20px;
  }
  
  .cajaComentario {
    width: 20%;
    height: 50vh;
    margin-right: 50px;
    background-color: rgba(51, 143, 236, 0.507);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  
  form {
    margin-left: 15px;
  }
  
  .contacto h4, .cajaComentario h6 {
    color: #fff;
  }
  
  input[type="search"], input[type="submit"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
  }

  .contacto{
    font-size: 30px;
    text-align: center;
  }
  
  .inicio{
    text-align: center;
    width: 100%;
    height: 12vh;
    color: white;
    font-size: 18px;
    font-weight: 200;
    background: linear-gradient(#00E4F1, #01DAEB, #01C3DC);
    font-family: Arial, Helvetica, sans-serif; 
  }

  .card-fin{
    margin-top: -5px;
  }
  .custom-button {
    background-color: #699EBF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Redondea las esquinas del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}


.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

}


.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: black;
}


.w-100{
    height: 100vh;

}

.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;

}